{%extends "evaluadorUPEV/dashboardEvaluador.html" %}

{# Container del dashboard#}
{% block container %}

<h1>Actividades pasadas</h1>
<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Oficio</th>
      <th scope="col">Materia</th>
      <th scope="col">Unidad Academica</th>
      <th scope="col">Terminada</th>
    </tr>
  </thead>
  <tbody>
    

      <tr>
        <td scope="row">599</td>
        <td>Álgebra Lineal</td>
        <td>ESCOM</td>
        <td>21 de Diciembre de 2020 a las 01:44</td>
        
      </tr>




  </tbody>
</table>

<hr>

{% endblock %}