{%extends "dashboard/base.html" %}

{% block head_content %}
<title>DEV | Dashboard UTEyCV</title>
{% endblock head_content %}

{% block menu_options %}

    <a href="{% url "dashboard:dashboard" %}" class="list-group-item list-group-item-action bg-light">Inicio</a>
    <a href="{% url "dashboard:tableroActividades" %}" class="list-group-item list-group-item-action bg-light">Tablero de actividades</a>
    <a href="{% url "dashboard:pasadasActividades" %}" class="list-group-item list-group-item-action bg-light">Actividades pasadas</a>


{% endblock menu_options %}

{# Container del dashboard#}
{% block container %}


{% endblock %}