{%extends "evaluadorUPEV/dashboardEvaluador.html" %}

{# Container del dashboard#}
{% block container %}
    <h1>Bienvenido {{request.user}}</h1>
    <p>Aquí podrás ver las tareas y ETPs asignadas por el coordinador.</p>

    <div class="upev-dashboard-menu">
        <div class="row">
            
                <a class="col" href="">
                    Tablero actividades
                </a>
            
                <a class="col" href="">
                    Actividades pasadas
                </a>
           
            
    </div>
        

{% endblock %}