{%extends "evaluadorUPEV/dashboardEvaluador.html" %}

{# Container del dashboard#}
{% block container %}

<h1>Actividades activas</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Pendientes</th>
        <th scope="col">Haciendo</th>
        <th scope="col">En espera</th>
        <th scope="col">Hecho</th>
      </tr>
    </thead>
    <tbody>
      

      {% for etp in etps  %}
      {% if user_id == etp.equipo.evaluador_originalidad_id or user_id == etp.equipo.evaluador_comunicologo_id or user_id == etp.equipo.evaluador_pedagogo_id or user_id == etp.equipo.evaluador_estilos_id %}
      <tr>        
        {% if tareas.estado_tarea == 'Pendientes'  %}
          <td style="width: 120px;">
            <div class="card " style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{etp.materia}}</h5>
                <p>Oficio: <strong>{{etp.oficio}}</strong></p>
                <p>Equipo: <strong>{{etp.equipo.id}}</strong></p>
                <p class="card-text">Tienes esta tarea asignada, para iniciar selecciona aceptar</p>
                <a href="#" class="card-link">Aceptar</a>
              </div>
            </div>
          </td>
        {% else %}
          <td></td>
        {% endif %}

        {% if tareas.estado_tarea == 'Haciendo'  %}
          <td style="width: 120px;">
            <div class="card " style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{etp.materia}}</h5>
                <p>Oficio: <strong>{{etp.oficio}}</strong></p>
                <p>Equipo: <strong>{{etp.equipo.id}}</strong></p>
                <p class="card-text">Tienes esta tarea asignada, para iniciar selecciona aceptar</p>
                <a href="#" class="card-link">Aceptar</a>
              </div>
            </div>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      

        {% if tareas.estado_tarea == 'Espera'  %}
          <td style="width: 120px;">
            <div class="card " style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{etp.materia}}</h5>
                <p>Oficio: <strong>{{etp.oficio}}</strong></p>
                <p>Equipo: <strong>{{etp.equipo.id}}</strong></p>
                <p class="card-text">Tienes esta tarea asignada, para iniciar selecciona aceptar</p>
                <a href="#" class="card-link">Aceptar</a>
              </div>
            </div>
          </td>
        {% else %}
          <td></td>
        {% endif %}


        {% if tareas.estado_tarea == 'Hecho'  %}
          <td style="width: 120px;">
            <div class="card " style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{etp.materia}}</h5>
                <p>Oficio: <strong>{{etp.oficio}}</strong></p>
                <p>Equipo: <strong>{{etp.equipo.id}}</strong></p>
                <p class="card-text">Tienes esta tarea asignada, para iniciar selecciona aceptar</p>
                <a href="#" class="card-link">Aceptar</a>
              </div>
            </div>
          </td>
        {% else %}
          <td></td>
        {% endif %}
    

      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>



{% endblock %}