{%extends "evaluadorUPEV/dashboardEvaluador.html" %}

{# Container del dashboard#}
{% block container %}

<h1>Actividades activas</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Pendientes</th>
        <th scope="col">Haciendo</th>
        <th scope="col">En espera</th>
        <th scope="col">Hecho</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Card</th>
        <td></td>
        <td></td>
        <td>@</td>
        <td></td>
      </tr>
    </tbody>
  </table>



{% endblock %}