
<h2>Tareas pendientes</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Tarea</th>
        <th scope="col">ID</th>
        <th scope="col">Fecha inicio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
       
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        
      </tr>
    </tbody>
  </table>




  <hr>

  