{%extends "coordinadorUTEyCV/dashboardUTEyCV.html" %} {# Container del dashboard#} {% block container %}

<h1>Crear ETP</h1>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 pt-3 pb-3" id="profile-box">
            <h4 class="mb-4">Crear una ETP</h4>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ user.pk}}" /> {# Website field #}

                <div class="form-group">
                    <input class="form-control {% if form.oficio.errors %}is-invalid{% endif %}" type="number" name="oficio" placeholder="Oficio">
                    <div class="invalid-feedback">
                        {% for error in form.oficio.errors %}{{ error }}{% endfor %}
                    </div>
                </div>

                <div class="form-group">


                    <label for="materia">Materia</label>
                    <select class="form-control" name="materia" id="materia">
                       {% for materia in materias  %}
                        <option value="{{materia.pk}}">{{materia}}</option>
                        {% endfor %} 
                        
                    </select>
                    <div class="invalid-feedback">
                        {% for error in form.materia.errors %}{{ error }}{% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <input class="form-control {% if form.usuario_plataforma.errors %}is-invalid{% endif %}" type="text" name="usuario_plataforma" placeholder="usuario_plataforma">
                    <div class="invalid-feedback">
                        {% for error in form.usuario_plataforma.errors %}{{ error }}{% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <input class="form-control {% if form.password_plataforma.errors %}is-invalid{% endif %}" type="text" name="password_plataforma" placeholder="password_plataforma">
                    <div class="invalid-feedback">
                        {% for error in form.password_plataforma.errors %}{{ error }}{% endfor %}
                    </div>
                </div>

                <input type="hidden" name="solicitante" value="{{ user.pk}}" />




                <input type="submit" class="btn btn-primary btn-block mt-5" value="Enviar">
            </form>
        </div>
    </div>
</div>





{% endblock %}