{%extends "coordinadorUTEyCV/dashboardUTEyCV.html" %}


{# Container del dashboard#}
{% block container %}

<h1>Bienvenido {{request.user}}</h1>
<p>En este panel de administración podrás solicitar las Evaluaciones Técnico Pedagogicas.</p>

<div class="upev-dashboard-menu">
    <div class="row">
        
            <a class="col" href="">
                Ver ETPs en proceso
            </a>
        
            <a class="col" href="">
                Crear una ETP
            </a>
       
        
            <a class="col" href="">
                Solicitudes de ETP pasadas
            </a>
    </div>
</div>
    

{% endblock %}