
<style>
    .hidden{
        display: none;
    }
</style>

{% load crispy_forms_tags %}
<form method='POST' action="">
    {%csrf_token%}

    {{form.media}}
    {{form.as_p}}
    {{form.etp_id.as_hidden}}
    {{form.evaluador_id.as_hidden}}
    {{form.etpEstado.as_hidden}}
    <input type="hidden" name="evaluador" value="{{ user.pk}}" />
    <input type="hidden" name="etp" value="{{ tarea.etp_task.id}}" />
    <input type="hidden" name="etpEstado" id="id_etpEstado" value="{{ tarea.etp_task.estado}}"  />
    <input type="hidden" name="solicitud" value="revisar">

    

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-info">Enviar correcciones</button>
      </div>
</form>