{%extends "dashboard/base.html" %}

{% block head_content %}
<title>DEV | Dashboard UPEV</title>
{% endblock head_content %}

{% block menu_options %}

    <a href="{% url "dashboard:dashboard" %}" class="list-group-item list-group-item-action bg-light">Inicio</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">ETP en proceso</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Solicitudes de ETP</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Validar ETP</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Gestionar evaluadores</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Ver historial ETPs</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Ver Unidades de Aprendizaje en Linea</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Ver Unidades Academicas</a>



{% endblock menu_options %}

{# Container del dashboard#}
{% block container %}

    <div>
    {% include "coordinadorUPEV/solicitudesETP.html" %}
    </div>




{% endblock %}