{%extends "coordinadorUPEV/dashboardUPEV.html" %}


{# Container del dashboard#}
{% block container %}

<h1>Ver ETPs anteriores</h1>


<table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">Oficio</th>
        <th scope="col">Materia</th>
        <th scope="col">Unidad Academica</th>
        <th scope="col">Terminada</th>
        <th scope="col">Ver versiones</th>
      </tr>
    </thead>
    <tbody>
      

        <tr>
          <td scope="row">599</td>
          <td>Álgebra Lineal</td>
          <td>ESCOM</td>
          <td>21 de Diciembre de 2020 a las 02:14</td>
          <td><a class="btn btn-info"  href="">Ver versiones</a></td>
          
        </tr>

        <tr>
            <td scope="row">239</td>
            <td>Álgebra</td>
            <td>Cecyt X</td>
            <td>18 de Diciembre de 2020 a las 04:14</td>
            <td><a class="btn btn-info"  href="">Ver versiones</a></td>
            
          </tr>


    </tbody>
  </table>

  <hr>


{% endblock %}