{%extends "coordinadorUPEV/dashboardUPEV.html" %}


{# Container del dashboard#}
{% block container %}

<h1>Bienvenido {{request.user}}</h1>
<p>Este es el panel de administrador podras acceder a las ETPs que estan siendo evaluadas. </p>

<div class="upev-dashboard-menu">
<div class="row">
    
        <a class="col" href="">
            Ver ETPs en evaluación
        </a>
    
        <a class="col" href="">
            Validar ETPs
        </a>
   
    
        <a class="col" href="">
            Ver nuevas ETPs
        </a>
</div>

<div class="row">
    
        <a class="col" href="">
            Ver equipos
    
        <a class="col" href=""> 
            Crear equipos
        </a>
    
        <a  class="col" href="">
            Ver historial de ETPs
        </a>
    
</div>

{% endblock %}