{%extends "coordinadorUPEV/dashboardUPEV.html" %}


{# Container del dashboard#}
{% block container %}

<h2>Solicitudes pendientes para ETP</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">UPEV_ID</th>
        <th scope="col">Oficio</th>
        <th scope="col">Materia</th>
        <th scope="col">Usuario plataforma</th>
        <th scope="col">Password plataforma</th>
        <th scope="col">Usuario plataforma</th>
        <th scope="col">Revisión</th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Originalidad</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Espera de correcciones</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  <hr>

{% endblock %}


  