
{%extends "coordinadorUPEV/dashboardUPEV.html" %}


{# Container del dashboard#}
{% block container %}

<h2>Validar ETP</h2>
<table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">Oficio</th>
        <th scope="col">Materia</th>
        <th scope="col">Unidad Academica</th>
        <th scope="col">Última actualización</th>
        <th scope="col">Ver última versión correcciones</th>
        <th scope="col">Validar evaluación</th>
      </tr>
    </thead>
    <tbody>
      

        <tr>
          <td scope="row">599</td>
          <td>Álgebra Lineal</td>
          <td>ESCOM</td>
          <td>20 de Diciembre de 2020 a las 23:54</td>
          <td><a href="">Descargar</a></td>
          <td><a class="btn btn-info"  href="">Aprobar ETP</a></td>
          <td>{{etp.solicitante}}</td>
        </tr>


    </tbody>
  </table>

  <hr>


{% endblock %}



  