
{%extends "coordinadorUPEV/dashboardUPEV.html" %}


{# Container del dashboard#}
{% block container %}

<h2>Validar ETP</h2>
<table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">Oficio</th>
        <th scope="col">Materia</th>
        <th scope="col">Carrera - Unidad Academica</th>
        <th scope="col">Solicitante</th>
        <th scope="col">Última actualización</th>
        <th scope="col">Ver última versión correcciones</th>
        <th scope="col">Validar evaluación</th>
      </tr>
    </thead>
    <tbody>


      {% for etp in etps  %}
        
        {% if etp.estado == 'Terminado' %}
        <tr>
            <td scope="row">{{etp.oficio}}</td>
            <td>{{etp.materia}}</td>
            <td>
            {% for carrera in etp.materia.carreras.all  %}
            {{carrera}} - {{carrera.unidadacademica}}
            <br>
            {% endfor %}
            </td>
            <td>{{etp.solicitante}}</td>
            <td>{{etp.modified}}</td>
            <td><a href="{% url 'dashboard:descargarUltimoReporte' etpID=etp.id %}">Ver</a></td>
            <form method="POST" action="{% url "dashboard:validarETP" %}" enctype="multipart/form-data" id="validation_etp{{etp.id}}">
              {% csrf_token %}
              <input type="hidden" name="etpID" value="{{ etp.id}}" />
              <input type="hidden" name="solicitud" value="validar">
              <td><input type="button" class="btn btn-info" value="Validar ETP" id="validar_etp{{etp.id}}"></td>
            </form>
        </tr>
       
        <script>
          document.getElementById('validar_etp{{etp.id}}').addEventListener('click', function(e){
            e.preventDefault();
      
      
          
            Swal.fire({
              title: '¿Seguro que quieres validar y terminar la solicitud?',
              text: "Está acción no se puede revertir",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Sí, aceptar'
            }).then((result) => {
              if (result.isConfirmed) {
                Swal.fire(
                  'Aceptado',
                  'La ETP se ha agregado exitosamente',
                  'success'
                );
      
                document.querySelector("#validation_etp{{etp.id}}").submit();
                
              }
            })
      
          });
      
      
          
      
      
        </script>



        {% endif %}

      {% endfor %}


    </tbody>
  </table>

  <hr>

  


{% endblock %}



  