
{%extends "coordinadorUPEV/dashboardUPEV.html" %}


{# Container del dashboard#}
{% block container %}

<h2>Validar ETP</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">UPEV_ID</th>
        <th scope="col">Materia</th>
        <th scope="col">Unidad Academica</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      
      {% for etp in etps  %}  
      
      {% if etp.solicitud_aprobada == 0 %}
        
        <tr>
          <th scope="row">{{etp.id}}</th>
          <td>{{etp.oficio}}</td>
          <td>{{etp.usuario_plataforma}}</td>
          <td>{{etp.password_plataforma}}</td>
          <td>{{etp.created}}</td>
          <td>{{etp.materia}}</td>
          <td>{{carrera}}</td>
          <td>{{etp.solicitante}}</td>
        </tr>

      {% endif %}

      {% endfor %}

    </tbody>
  </table>

  <hr>


{% endblock %}



  